{% extends "layout.html" %}

{% block content %}
<h1>
	{% if user.email %}
	Hello, {{ user.email }}
	{% else %}
	Hello, anon
	{%endif %}
</h1>

<p>Things you can do:</p>

<ul>
    <li><a href="{{ url_for('index') }}">/</a></li>
    <li><a href="{{ url_for('security.login') }}">/login</a></li>
    <li><a href="{{ url_for('security.logout') }}">/logout</a></li>
    <li><a href="{{ url_for('security.register') }}">/register</a></li>
    <li><a href="{{ url_for('loginpass.login', name="google") }}">/google/login</a></li>
    <li><a href="{{ url_for('calendar') }}">/calendar</a></li>
</ul>

{% endblock %}
